body{
    background-color: blue;
}
.Ourhelpwithfood{
    background-color: red;
}
.Whattheyhelpuswith{
    background-color: gold;
}
.whattheygiveus{
    background-color: chartreuse;
}
.howtheyhaveimpactedtheworld{
    background-color: blue;
}