body{
    background-color: blue;
}
.Ourhelpwithfood{
    background-color: blueviolet;
}
.Whattheyhelpuswith{
    background-color: chartreuse;
}
.whattheygiveus{
    background-color: crimson;
}
.howtheyhaveimpactedtheworld{
    background-color: darkorange;
}